[submodule "ThirdParties/googleads-mobile-ios-native-templates"]
	path = ThirdParties/googleads-mobile-ios-native-templates
	url = https://github.com/googleads/googleads-mobile-ios-native-templates.git
